<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册-豆果美食_开启美味生活</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/registration.css">
</head>
<body>
	<div class="register-header">
		<div class="header-content public-container clearfloat">
			<div class="content-logo">
				<a href="index.html" title="豆果美食">豆果美食</a>
			</div>
		</div>
	</div>
	<div class="register-content public-container clearfloat">
		<div class="register-content-header">
			<h2>新用户注册</h2>
			<span><a href="login.html">已有账号，直接登录>></a></span>
		</div>
		<div class="register-content-input" id="app">
			<div class="input-infor">
				<div class="info">
					<input type="hidden" v-model="newAdmin.id">
					<input type="text" v-model="newAdmin.phone" ref="phone" @blur="blurphone" @focus="focusphone" placeholder="请输入手机号">
				</div>
				<span class="tip" v-html='phonetip'></span>
			</div>

		  	<div class="input-infor">
		  		<div class="info">
			    	<input type="password" v-model="newAdmin.password" ref="pwd" @blur="blurpwd" @focus="focuspwd" placeholder="请输入密码">
			    </div>
				<span class="tip" v-html='pwdtip'></span>
		  	</div>

            <div class="input-infor">
            	<div class="info">
               		<input type="password" ref="pwdcheck" @blur="blurpwd1" placeholder="确认密码">
               	</div>
				<span class="tip" v-html='pwd1tip'></span>
            </div>

            <div class="input-register">
            	<span class="register-xieyi">
	                <input type="checkbox" checked="checked" style="vertical-align: middle;" id="agreement"> 我已阅读并且同意
	                <a href="" title="用户协议">豆果美食使用协议</a>
	            </span>
            	<input @click="regadmin" type="button" class="btn-register" value="注册">
            </div>

		  	<div class="input-otherway">
			    <h3>其它方式</h3>
			    <ul>
			        <li>
			            <a href=""><span class="input-otherway-qq"></span>腾讯账号</a>
			            <a href="" class="sina"><span class="input-otherway-sina"></span>新浪微博</a>
			            <a href="" class="email"><span class="input-otherway-email"></span>邮箱注册</a>
			        </li>
			    </ul>
			</div>
		</div>
	</div>
	<div class="public-footer">
		<div class="public-container">
			<div class="footer-col">
				<p>元旦礼品推荐<br>圣诞大礼包<br>冬至团团圆圆<br>
					<a href="tel:718-749-1714">订购热线...</a>
				</p>
			</div>
			<div class="footer-col">
				<p>食品安全介绍<br>好物推荐<br>猜你喜欢<br>加入我们...</p>
			</div>
			<div class="footer-col">
            	<div class="footer-info">©2009-2018</br>计科165-黄惠燕<br>201615210536</div>              
			</div>
			<div class="footer-col">
				<img src="img/1.PNG" width="150px"/>
			</div>
		</div>
	</div>
    <div class="footer-tip" align="center">
        	此网站仿照“豆果美食”官网，尊重版权。
    </div>
</body>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/jquery-3.4.1.js"></script>
<script type="text/javascript">
	var app = new Vue({
		el: '#app',
		data:{
			phonetip:'',
			pwdtip:'',
			pwd1tip:'',
			pd:[false,false,false],
			newAdmin:{
				id:'',
				phone:'',
				password:''
			}
		},
		created() {

		},
		methods: {
			focusphone:function(){
				this.phonetip = "请输入手机号";
			},
			blurphone:function(){
				let patrn = /^[0-9]*$/;
				if (!patrn.test(this.$refs.phone.value)) {
					this.phonetip = "手机号输入格式不正确";
					this.pd[0] = false;
				}
				else if(this.$refs.phone.value ==""){
					this.phonetip = '手机号不得为空';
					this.pd[0] = false;
				}
				else if(this.$refs.phone.value.length != 11){
					this.phonetip = '手机号输入格式不正确';
					this.pd[0] = false;
				}
				else{
					this.phonetip = '<i class="success"> </i>';
					this.pd[0] = true;
				}
			},
			focuspwd:function(){
				this.pwdtip = "请输入密码";
			},
			blurpwd:function(){
				let m = findStr(this.$refs.pwd.value,this.$refs.pwd.value[0]);
				let re_n = /^[0-9]*$/;
				let re_t = /[^a-zA-Z]/g;
				if(this.$refs.pwd.value ==""){
					this.pwdtip = '密码不得为空';
					this.pd[1] = false;
				}
				else if( m== this.$refs.pwd.value.length){
					this.pwdtip = '不能使用相同字符';
					this.pd[1] = false;
				}
				else if( this.$refs.pwd.value.length<6 || this.$refs.pwd.value.length>20){
					this.pwdtip = '密码为6~20位字符组合';
					this.pd[1] = false;
				}
				else if( re_n.test(this.$refs.pwd.value)){
					this.pwdtip = '不能全是数字';
					this.pd[1] = false;
				}
				else if( !re_t.test(this.$refs.pwd.value)){
					this.pwdtip = '不能全是字母';
					this.pd[1] = false;
				}
				else{
					this.pwdtip = '<i class="success"> </i>';
					this.pd[1] = true;
				}

				function findStr(str, n) {
					let tmp=0;
					for(let i=0; i<str.length ; i++){
						if(str.charAt(i) == n){
							tmp++
						}
					}
					return tmp;
				}
			},
			blurpwd1:function(){
				if(this.$refs.pwdcheck.value != this.$refs.pwd.value || this.$refs.pwdcheck.value == ""){
					this.pwd1tip = '两次密码输入的不一样';
					this.pd[2] = false;
				}
				else{
					this.pwd1tip = '<i class="success"> </i>';
					this.pd[2] = true;
				}
			},

			//保存数据
			regadmin() {
				let tg = true;
				for(let i=0;i<this.pd.length;i++){
					if(this.pd[i] == false){
						tg = false;
						break;
					}
				}
				if(tg){
					let that = this;
					$.ajax({
						url:'/admin',
						type:'POST',
						data:JSON.stringify(that.newAdmin),
						dataType:'json',
						contentType:'application/json',
						success:function(data){
							alert("保存成功！");
							$(location).attr('href', 'login.html');
						},
						error:function (data) {
							alert("保存失败！");
						},
					});
				}
				else {
					alert("请确保所有信息填写正确！");
				}
			},
		}
	});
</script>
</html>