<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>严选-开启美味生活</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/yanxuan.css">
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript">
		function $(id) {
		return document.getElementById(id);
		}
		//导航条的发布的二级菜单显示和关闭
		function show(){
			$("issueall").style.display = "block";
		}
		function hide(){
			$("issueall").style.display = "none";
		}
	</script>
</head>
<body>
	<div class="public-header">
		<div class="header-title public-container clearfloat">
			<div class="header-title-logo">
				<a href=""></a>
			</div>
			<div class="header-title-login">
				<div class="login-way clearfloat">
					<a class="qq" href="">QQ登录</a>
					<a class="sina" href="">新浪微博</a>
				</div>
				<div class="login clearfloat">
					<a class="login-type" href="login.html" target="_blank">登录</a>
					<span class="login-line">|</span>
					<a class="login-type" href="registration.html" target="_blank">注册</a>
					<span class="login-line">|</span>
					<a class="login-type" href="https://www.douguo.com/page/download/">下载客户端</a>
				</div> 
			</div>
		</div>
		<div class="header-nav">
			<div class="header-nav-center public-container clearfloat">
				<div class="nav-item ">
					<ul >
						<li class="item nav-line"><a href="index.html">首页</a></li>
						<li class="item nav-line"><a href="caipu.html">菜谱</a></li>
						<li class="item nav-line"><a href="yanxuan.html"><span class="item-span">严选</span></a></li>
						<li class="item nav-line"><a href="huodong.html">活动</a></li>
                        <li class="item nav-line"><a href="#">主题</a></li>
                        <li class="item"><a href="#">动漫</a></li>
					</ul>
				</div>	
				<div class="nav-search">
					<form>
						<input type="text" name="search-text" class="nav-search-text" placeholder="搜索菜单、菜谱、食材、用户">
						<input type="submit" name="search-submit" class="nav-search-submit" value="">
					</form>
				</div>
				<div class="nav-issue" onmouseover="show()" onmouseout="hide()">
					<a href="" class="nav-btniss">发布</a>
					<div class="nav-issue-rt3" id="issueall" style="display: none;">
						<span class="armtop"> </span>
						<p>
							<a href="" class="rt3">发布菜谱</a>
					   		<a href="">创建菜单</a>
					   		<a href="">上传美食日记</a>
	                    </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="yanxuan-panel public-container">
		<div class="yanxuan-panel-body pages">
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-1.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">日本Elfin勺SUS430镀金西餐汤130mm</a>
				<div class="imgs-priceNew">
					<span>￥39.00</span>
					<del>￥49.00</del>
				</div>
				<div class="imgs-sale">月售：4件</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-2.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">烘焙原料 安佳淡味黄油 动物性黄油 454g</a>
				<div class="imgs-priceNew">
					<span>￥45.80</span>
				</div>
				<div class="imgs-sale">月售529件</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-3.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">烘焙原料 安佳 淡奶油 原装1L</a>
				<div class="imgs-priceNew">
					<span>￥43.00</span>
				</div>
				<div class="imgs-sale">月售680盒</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-4.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">总统黄油 法国原装进口 食用动物性淡味发酵黄油块500g</a>
				<div class="imgs-priceNew">
					<span>￥59.90</span>
				</div>
				<div class="imgs-sale">月售143盒</div>
				<div class="imgs-baoyou">包邮</div>
			</div>		
            <div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-1.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">日本Elfin勺SUS430镀金西餐汤130mm</a>
				<div class="imgs-priceNew">
					<span>￥39.00</span>
					<del>￥49.00</del>
				</div>
				<div class="imgs-sale">月售：4件</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-2.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">烘焙原料 安佳淡味黄油 动物性黄油 454g</a>
				<div class="imgs-priceNew">
					<span>￥45.80</span>
				</div>
				<div class="imgs-sale">月售529件</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-3.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">烘焙原料 安佳 淡奶油 原装1L</a>
				<div class="imgs-priceNew">
					<span>￥43.00</span>
				</div>
				<div class="imgs-sale">月售680盒</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-4.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">总统黄油 法国原装进口 食用动物性淡味发酵黄油块500g</a>
				<div class="imgs-priceNew">
					<span>￥59.90</span>
				</div>
				<div class="imgs-sale">月售143盒</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
            <div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-1.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">日本Elfin勺SUS430镀金西餐汤130mm</a>
				<div class="imgs-priceNew">
					<span>￥39.00</span>
					<del>￥49.00</del>
				</div>
				<div class="imgs-sale">月售：4件</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-2.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">烘焙原料 安佳淡味黄油 动物性黄油 454g</a>
				<div class="imgs-priceNew">
					<span>￥45.80</span>
				</div>
				<div class="imgs-sale">月售529件</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-3.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">烘焙原料 安佳 淡奶油 原装1L</a>
				<div class="imgs-priceNew">
					<span>￥43.00</span>
				</div>
				<div class="imgs-sale">月售680盒</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-4.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">总统黄油 法国原装进口 食用动物性淡味发酵黄油块500g</a>
				<div class="imgs-priceNew">
					<span>￥59.90</span>
				</div>
				<div class="imgs-sale">月售143盒</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
            <div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-1.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">日本Elfin勺SUS430镀金西餐汤130mm</a>
				<div class="imgs-priceNew">
					<span>￥39.00</span>
					<del>￥49.00</del>
				</div>
				<div class="imgs-sale">月售：4件</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-2.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">烘焙原料 安佳淡味黄油 动物性黄油 454g</a>
				<div class="imgs-priceNew">
					<span>￥45.80</span>
				</div>
				<div class="imgs-sale">月售529件</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-3.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">烘焙原料 安佳 淡奶油 原装1L</a>
				<div class="imgs-priceNew">
					<span>￥43.00</span>
				</div>
				<div class="imgs-sale">月售680盒</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-4.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">总统黄油 法国原装进口 食用动物性淡味发酵黄油块500g</a>
				<div class="imgs-priceNew">
					<span>￥59.90</span>
				</div>
				<div class="imgs-sale">月售143盒</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
            <div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-1.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">日本Elfin勺SUS430镀金西餐汤130mm</a>
				<div class="imgs-priceNew">
					<span>￥39.00</span>
					<del>￥49.00</del>
				</div>
				<div class="imgs-sale">月售：4件</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-2.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">烘焙原料 安佳淡味黄油 动物性黄油 454g</a>
				<div class="imgs-priceNew">
					<span>￥45.80</span>
				</div>
				<div class="imgs-sale">月售529件</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-3.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">烘焙原料 安佳 淡奶油 原装1L</a>
				<div class="imgs-priceNew">
					<span>￥43.00</span>
				</div>
				<div class="imgs-sale">月售680盒</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-4.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">总统黄油 法国原装进口 食用动物性淡味发酵黄油块500g</a>
				<div class="imgs-priceNew">
					<span>￥59.90</span>
				</div>
				<div class="imgs-sale">月售143盒</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
            <div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-1.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">日本Elfin勺SUS430镀金西餐汤130mm</a>
				<div class="imgs-priceNew">
					<span>￥39.00</span>
					<del>￥49.00</del>
				</div>
				<div class="imgs-sale">月售：4件</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-2.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">烘焙原料 安佳淡味黄油 动物性黄油 454g</a>
				<div class="imgs-priceNew">
					<span>￥45.80</span>
				</div>
				<div class="imgs-sale">月售529件</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-3.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">烘焙原料 安佳 淡奶油 原装1L</a>
				<div class="imgs-priceNew">
					<span>￥43.00</span>
				</div>
				<div class="imgs-sale">月售680盒</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-4.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">总统黄油 法国原装进口 食用动物性淡味发酵黄油块500g</a>
				<div class="imgs-priceNew">
					<span>￥59.90</span>
				</div>
				<div class="imgs-sale">月售143盒</div>
				<div class="imgs-baoyou">包邮</div>
			</div>	
            <div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-1.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">日本Elfin勺SUS430镀金西餐汤130mm</a>
				<div class="imgs-priceNew">
					<span>￥39.00</span>
					<del>￥49.00</del>
				</div>
				<div class="imgs-sale">月售：4件</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-2.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">烘焙原料 安佳淡味黄油 动物性黄油 454g</a>
				<div class="imgs-priceNew">
					<span>￥45.80</span>
				</div>
				<div class="imgs-sale">月售529件</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-3.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">烘焙原料 安佳 淡奶油 原装1L</a>
				<div class="imgs-priceNew">
					<span>￥43.00</span>
				</div>
				<div class="imgs-sale">月售680盒</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
			<div class="body-imgs1">
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html"><img src="img/index-panel2-4.jpg"></a>
				<a href="../黄惠燕_15210536_豆果美食网站/detail.html" class="imgs-name">总统黄油 法国原装进口 食用动物性淡味发酵黄油块500g</a>
				<div class="imgs-priceNew">
					<span>￥59.90</span>
				</div>
				<div class="imgs-sale">月售143盒</div>
				<div class="imgs-baoyou">包邮</div>
			</div>
		</div>
		<div class="dots-group" id="dotsgroup">
			<a href="yanxuan.html" class="dots-page">第一页</a>
           	<a href="yanxuan.html" class="dots on">1</a>
           	<a href="yanxuan.html" class="dots">2</a>
           	<a href="yanxuan.html" class="dots">3</a>
           	<a href="yanxuan.html" class="dots">4</a>
           	<a href="yanxuan.html" class="dots">5</a>
           	<a href="yanxuan.html" class="dots-page">最后一页</a>
        </div>
	</div>
	<div class="public-footer">
		<div class="public-container">
			<div class="footer-col">
				<p>元旦礼品推荐<br>圣诞大礼包<br>冬至团团圆圆<br>
					<a href="tel:718-749-1714">订购热线...</a>
				</p>
			</div>
			<div class="footer-col">
				<p>食品安全介绍<br>好物推荐<br>猜你喜欢<br>加入我们...</p>
			</div>
			<div class="footer-col">
            	<div class="footer-info">©2009-2018</br>计科165-黄惠燕<br>201615210536</div>              
			</div>
			<div class="footer-col">
				<img src="img/1.PNG" width="150px"/>
			</div>
		</div>
	</div>
	<div class="footer-tip" align="center">
		此网站仿照“豆果美食”官网，尊重版权。
	</div>
</body>
</html>